$color-main: #1c1c1c;
$color-correct: #7bffa7;
$color-incorrect: #ff7b7b;
$filed-size: 180px;
$filed-gap: 40px;

$font-size-normal: 24px;
$font-size-lg: 50px;
$font-weight-b: 700;

$border-radius: 15px;
