@import "./partilas/vars";
@import "./partilas/global";
h1 {
  text-align: center;
  margin-top: 50px;

  font-size: $font-size-lg;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.config-container {
  margin: 100px 0;
  flex-wrap: wrap;
  select {
    font-size: $font-size-normal;
  }

  label {
    font-weight: $font-weight-b;
    font-size: $font-size-normal;
    margin-right: 20px;
  }
  p {
    margin-top: 20px;
    text-align: center;
    font-weight: $font-weight-b;
    font-size: $font-size-normal;
    width: 100%;
  }
}
.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, $filed-size);
  gap: $filed-gap;
  .field {
    text-align: center;
    font-size: $font-size-lg;
    font-weight: $font-weight-b;
    border-radius: $border-radius;
    border: 1px solid $color-main;
    display: block;
    line-height: $filed-size;
    width: $filed-size;
    height: $filed-size;
    &.correct {
      background-color: $color-correct;
    }
    &.incorrect {
      background-color: $color-incorrect;
    }
  }
}

button {
  cursor: pointer;
  margin-top: 50px;
  padding: 10px 30px;
  border-radius: $border-radius;
  background-color: $color-main;
  font-weight: $font-weight-b;
  font-size: $font-size-normal;
  border: none;
  color: #fff;
  &:hover {
    position: relative;
    right: -2px;
    bottom: -2px;
  }
  &.hide {
    display: none;
  }
}
.results-continer {
  margin: 50px 0;
  flex-wrap: wrap;
  p {
    width: 100%;
    margin-top: 20px;
    text-align: center;
    font-weight: $font-weight-b;
    font-size: $font-size-normal;
    span {
      font-style: italic;
      color: rgb(35, 86, 255);
    }
  }
}
